/* * * * * * * Footer * * * * * * */
.footer {
  height: 200px;
  padding: 70px 0;
  background-color: #1cb1ba;
  box-shadow: 0 -2px 2px -2px rgba(17, 114, 119, 0.4);
  position: relative;
  z-index: 2;
}
.logo {
  width: 200px;
}
.company_address {
  font-size: 15px;
  color: white;
  text-align: right;
}
/* * * * * * * * * * * * * * * * * */