/* * * * * * * Pet Profile  * * * * * * * *  */
.title {
  font-size: 19px;
  font-weight: 500;
  color: #1cb1ba;
  margin: 0;
}
.title .nick {
  font-size: 25px;
  color: #393939;
  font-weight: 600;
  margin-left: 10px;
}

.location,
.map_icon {
  font-size: 15px;
  color: #bababa;
}
.map_icon {
  margin: 0 5px 0 15px;
}
.divider {
  border-bottom: 1px solid #1cb1ba;
  margin: 10px 0 50px 0;
}

.content_wrapper {
  display: grid;
  row-gap: 2rem;
}

.section_one {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
}

.photo {
  max-height: 25rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.photo img {
  width: 100%;
}
.breed {
  color: #1cb1ba;
  font-size: 1.3rem;
  font-weight: 500;
}
.date {
  font-size: 1rem;
  font-weight: 500;
  color: #bababa;
}
.grey_divider {
  border-bottom: 1px solid #bababa;
  margin: 1rem 0;
}
.details_wrapper {
  display: grid;
  justify-content: center;
}
.details {
  color: #393939;
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 0.8rem;
}
.details_title {
  color: #1cb1ba;
  margin-right: 0.6rem;
  font-weight: 500;
}
.details_icon {
  color: #bababa;
}

/* * * * * * * * * * * * * * * * * * * * * * *  */

@media screen and (max-width: 600px) {
  .section_one {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 0;
    row-gap: 1rem;
  }
  .content_wrapper {
    row-gap: 0;
  }
}
