/* * * * * * Post Small * * * * *  */

.post_small_author_box {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.post_small_author_img img,
.post_small_author_img svg {
  display: block;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}
.post_small_author_name {
  color: #1cb1ba;
  font-size: 1rem;
  font-weight: 500;
  padding: 0;
}
.post_small_date {
  color: #bababa;
  font-size: 0.7rem;
  font-weight: 500;
  padding: 0;
}

.post_small_link_box {
  margin: 1rem 0 0;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.post_small_title {
  height: 2.5rem;
  color: #393939;
  font-size: 1.1rem;
  line-height: 1.3;
  font-weight: 600;
}

.post_small_img_box {
  border: 1px solid #bababa50;
}

.post_small_img {
  height: 13rem;
}
.post_small_like_box {
  width: fit-content;
  margin-top: 0.3rem;
  margin-left: auto;
}
